body {
    background-color: #212f3d;
    color: #f0f3f4;
    font-family: 'Normal-Text', sans-serif;
    font-size: 20px;
}

.title {
    font-family: 'ComicTitle', sans-serif;
}

p.title {
    font-size: 8px;
}

#presentacion{
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url("assets/presentacion.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.proyecto{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1{
    background-image: url('assets/proyecto1.gif');
}

#proyecto-2{
    background-image: url('assets/proyecto2.gif');
}

#proyecto-3{
    background-image: url('assets/proyecto3.gif');
}

#proyecto-4{
    background-image: url('assets/proyecto4.gif');
}

.text-shadow-1 {text-shadow: -2px 0px 6px rgba(0, 0, 0, 1);}
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.texto-gigante{
    font-size: 70px;
}